/* RESET */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

.profile-pics {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.special-icon-mg {
    margin: 0px 10px;
}


/* GENERAL */

.background-container {
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
    background-color: #009688;
}

.app-container {
    width: 90%;
    height: 95%;
    display: flex;
}

/* ASIDE CONTAINER */

.aside-container {
    width: 40%;
    height: 100%;
    background-color: #FEFFFF;
}

.main-aside {
    height: calc(100% - 60px);
}

.header-aside {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #E5E5E5;
}

.boolzapp-user {
    display: flex;
    align-items: center;
}

.boolzapp-user > h3 {
    margin-left: 10px;
}

.grey-color {
    color: #8a8a8a;
}

.notification-bar {
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
    display: flex;
    align-items: center;
}

.search-bar {
    width: 100%;
    height: 40px;
    padding: 5px;
    display: flex;
    background-color: #E9EBEB;
}

.search-bar > span {
    background-color: #FBFCFC;
    padding: 5px;
}

.search-input {
    width: 100%;
    height: 30px;
    padding: 5px;
    background-color: #FBFCFC;
    border: none;
    box-shadow: none;
}

.body-aside {
    height: calc(100% - 120px);
    padding: 10px;
}

.chat-scroll {
    height: 100%;
    overflow-y: auto;
}

.list-style-none {
    list-style-type: none;
}

.single-contact {
    margin-right: 0px;
    border-bottom: 1px rgb(49, 49, 49) solid;
    padding: 6px;
    display: flex;
    align-items: center;
    position: relative;
    border: 2px red dotted;
}

.users-chats {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px #009688 solid;
}

.time {
    font-size: 10px;
    position: absolute;
    top: 8px;
    border: 1px #8EDAFC solid;
}

.active {
    background-color: #E9EBEB;
    opacity: 1;
}

/* MAIN CONTAINER */

.chat-container-right{
    width: 60%;
    height: 100%;
    background-image: url('img/mine.jpg');
}

.header-chat {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #D6D6D6;
}

.person-details {
    display: flex;
    align-items: center;
}

.person-info {
    margin-left: 10px;
}

.body-chat {
    padding: 30px;
    height: calc(100% - 120px);
    overflow-y: auto;
}

.messages-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sent-messages {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.received-messages {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.single-message {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

.message-style {
    margin: 0px;
    line-height: 1.5em;
}

.message-date {
    position: absolute;
    margin-right: 0px;
    font-size: 0.7em;
    color: #8a8a8a;
    right: 0.5em;
    bottom: 0;
}

.green-messages {
    width: 60%;
    max-height: 50px;
    padding: 10px;
    margin: 0px 0px 10px;
    border-radius: 10px;
    background-color: greenyellow;
    align-self: end;
}

.white-messages {
    width: 60%;
    max-height: 50px;
    padding: 10px;
    margin: 0px 0px 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    align-self: start;
}

.footer-chat {
    width: 100%;
    height: 60px;
    padding: 5px;
    background-color: #F3EEEB;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-chat > i {
    margin: 0px 5px;
}